.printer {
    margin-left: 49px;
}

.printer-from {
    margin-left: 49px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.printermargin {
    margin-left: 10px;
}

.custom-select {
    width: 200px;
    /* ปรับค่าความกว้างตามที่ต้องการ */
}