<div>
    <nz-layout>
        <nz-header>
            <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
                <li nz-menu-item routerLink="/Stration" routerLinkActive="active">Stration</li>
                <li nz-menu-item routerLink="/Prvp" routerLinkActive="active">
                    Prvp</li>
                <li nz-menu-item routerLink="/Election" routerLinkActive="active">
                    Election</li>
                <li nz-menu-item nzSelected routerLink="/Preshobby" routerLinkActive="active">
                    PresHobby</li>
                <li nz-menu-item routerLink="/President" routerLinkActive="active">
                    President</li>
                <li nz-menu-item routerLink="/Presmarriage" routerLinkActive="active">PresMarriage</li>
                <li nz-menu-item routerLink="/State" routerLinkActive="active">State
                </li>
                <div id="datetime" class="datetime">{{ datetime }}</div>
            </ul>
            <div class="example-input">
                <input nz-input placeholder="Search President" nzSize="default" [(ngModel)]="searchTerm"
                    (ngModelChange)="onSearch()" />
                <button nz-button nzType="primary" (click)="onSearch()">
                    <i nz-icon nzType="search"></i>
                    Search
                </button>
                <button class="botton-margin" nz-button nz-dropdown [nzDropdownMenu]="menu4">
                    Select
                    <i nz-icon nzType="down"></i>
                </button>
                <nz-dropdown-menu #menu4="nzDropdownMenu">
                    <ul nz-menu nzMode="horizontal">
                        <li nz-menu-item routerLink="/Stration" routerLinkActive="active">Stration</li>
                        <li nz-menu-item routerLink="/Prvp" routerLinkActive="active">
                            Prvp</li>
                        <li nz-menu-item routerLink="/Election" routerLinkActive="active">
                            Election</li>
                        <li nz-menu-item nzSelected routerLink="/Preshobby" routerLinkActive="active">
                            PresHobby</li>
                        <li nz-menu-item routerLink="/President" routerLinkActive="active">
                            President</li>
                        <li nz-menu-item routerLink="/Presmarriage" routerLinkActive="active">PresMarriage</li>
                        <li nz-menu-item routerLink="/State" routerLinkActive="active">State
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </div>
        </nz-header>
        <nz-layout class="inner-layout">
            <nz-content>
                <div>
                    <h1 class="header">{{ tableTitle }}</h1>
                    <!-- <div class="printer">
                        <nz-select [(ngModel)]="selectedPrinter" placeholder="Select Printer" style="width: 200px;">
                            <nz-option *ngFor="let printer of printers" [nzValue]="printer.printerName"
                                [nzLabel]="printer.printerName"></nz-option>
                        </nz-select>
                        <button class="botton-margin" nz-button nzType="primary" (click)="installPrinter()">Install
                            Printer</button>
                        <button class="botton-margin" nz-button nzType="default"
                            (click)="printDocument()">Print</button>
                    </div> -->
                    <div class="printer">
                        <!-- เลือกเครื่องพิมพ์ -->
                        <nz-select [(ngModel)]="selectedPrinter" placeholder="Select Printer" style="width: 200px;">
                            <nz-option *ngFor="let printer of printers" [nzValue]="printer.printerName"
                                [nzLabel]="printer.printerName"></nz-option>
                        </nz-select>
                        <!-- ปุ่มติดตั้งเครื่องพิมพ์ -->
                        <button class="botton-margin" nz-button nzType="primary" (click)="installPrinter()">Install
                            Printer</button>
                        <!-- ปุ่มพิมพ์เอกสาร -->
                        <button class="botton-margin" nz-button nzType="default"
                            (click)="printDocument()">Print</button>
                    </div>
                    <!-- ฟอร์มการอัพโหลด PPD -->
                    <form class="printer-from" (ngSubmit)="onUploadPPD()" #ppdForm="ngForm">
                        <input type="text" [(ngModel)]="printerName" name="printerName" placeholder="Printer Name"
                            required>
                        <input class="printermargin" type="text" [(ngModel)]="printerIP" name="printerIP" placeholder="Printer IP" required>
                        <input class="printermargin" type="file" (change)="onFileChange($event)" required>
                        <button type="submit" nz-button nzType="primary">Install Printer Driver</button>
                    </form>
                    <nz-table #headerTable [nzData]="filteredData" [nzPageSize]="50" [nzScroll]="{ y: 'auto' }">
                        <thead>
                            <tr>
                                <th>PresName</th>
                                <th>Hobby</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let president of filteredData">
                                <td>{{ president.presName }}</td>
                                <td>{{ president.hobby }}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </nz-content>
        </nz-layout>
    </nz-layout>
</div>